body {
  padding: 0;
  margin: 0;
}

.l4 {
  position: relative;
}

.l4__toolbar-wrap {
  height: 64px;
  background-color: #eeeeee;
  & span {
    font-weight: 700;
  }
}

.l4__content-wrap {
  overflow: hidden;
  position: relative;
}

/*.l4__textarea-wrap {*/
/*  overflow: hidden;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*}*/
